/*******Body Formatting Start****/
body{
  background-color: #E6E6E8; /*Sets the background colour to be Light Gray/Blue*/
}
/*******Body Formatting End****/

/*******Header Formatting Start****/
.mainheader {
  text-align:center;/*Aligns the text to be centered*/
  font-size: 40px; /*Sets the font size*/
  font-weight: bold; /*Sets the weight of the font to bold*/
}
/*******Header Formatting End****/

/*******Container Formatting Start****/
.container {
  display: grid;/*Becomes a grid container*/
  width: 100%;/*Sets the width of the element to 100*/
  height: 100%;/*Sets the height of the element to 100*/
  grid-template-areas: "Container1 Container2 Container5"/*Specifies the areas within a grid*/
  "Container1 Container3 Container5"
  "Container1 Container4 Container5";
  grid-template-columns: 1fr 769px 1fr; /*Specifies the number and widith of the columns in the grid*/
  grid-template-rows: 1fr 1fr 1fr; /*Specifies the number and heights of the rows in the grid*/
  /*1fr represents a column that takes up on fraction unit of the remaining space.*/
}
.container > div { /*The '>' selects the immediate child (div) and applies the styles to them*/
  border-style: solid; /*Sets the style of the borders to be solid*/
  border-color: #C0C0C0; /*Sets the background colour to be Silver*/
  border-width: thin; /*Sets the border widths to be thin*/
  margin: 3px; /*Sets the margin to be 3px*/
}

.Container1 {
  grid-area: Container1; /*Used to assign a name to the grid item - These named grid items can now be referenced */
  background-color: #F0F8FF; /*Sets the background colour to be Alice Blue*/
  border-radius:0px /*Sets a border radius of 0*/
}

.Container2 {
  grid-area: Container2; /*Used to assign a name to the grid item - These named grid items can now be referenced */
  background-color: #F0F8FF; /*Sets the background colour to be Alice Blue*/
  border-radius:0px /*Sets a border radius of 0*/
}

.Container5 {
  grid-area: Container5; /*Used to assign a name to the grid item - These named grid items can now be referenced */
  background-color: #F0F8FF; /*Sets the background colour to be Alice Blue*/
  border-radius:0px /*Sets a border radius of 0*/
}

.Container3 {
  grid-area: Container3; /*Used to assign a name to the grid item - These named grid items can now be referenced */
  background-color: #F0F8FF; /*Sets the background colour to be Alice Blue*/
  border-radius:0px /*Sets a border radius of 0*/
}

.Container4 {
  grid-area: Container4; /*Used to assign a name to the grid item - These named grid items can now be referenced */
  background-color: #F0F8FF; /*Sets the background colour to be Alice Blue*/
  border-radius:0px /*Sets a border radius of 0*/
}
/*******Container Formatting End****/

/*******Most Recent Participants Formatting Start****/
.MostRecentParticipantsContainerOne{
  float: left; /*Specifies to float the element left of the container */
  display: inline; /*Displays the element as an inline element*/
  margin-left: 30px; /*Sets the left margin to be 30px*/
  font-size: 18px;/*Sets the font size*/
}

.MostRecentParticipantsContainerTwo{
  float: left; /*Specifies to float the element left of the container */
  margin-left: 150px; /*Sets the left margin to be 150px*/
  font-size: 18px;/*Sets the font size*/
}

a{
  text-decoration: none; /*Used to remove underlines from links*/
}

.ViewMoreParticipantsContainer{
  height: 100px;/*Sets the width of the element to 100*/
  width: 100px;/*Sets the height of the element to 100*/
  text-align: center;/*Aligns the text to be centered*/
  margin-left: 220px; /*Sets the left margin to be 220px*/
}

.MostRecentParticipantsHeader span{
  background-color: #87CEFA; /*Sets the background colour to be Light Sky Blue*/
  box-shadow: -10px 0px 0 7px #87CEFA, /*Box shadow attaches one or more shadows to the header elements*/
    10px 0px 0 7px #87CEFA,
    0 0 0 7px #87CEFA;
  box-decoration-break: clone; /*Allows for  FireFox to render it properly.*/
  border-radius: 0.5px; /*Sets a border radius of 0.5*/
}

.MostRecentParticipantsHeader > h4{ /*The '>' selects the immediate child (h4) and applies the styles to them*/
  font-size: 17px;/*Sets the font size*/
  margin-left: 30px; /*Sets the left margin to be 30px*/
}
/*******Most Recent Participants Formatting End****/

/*******Most Recent Documents Formatting Start****/
.MostRecentDocumentsContainer > p{ /*The '>' selects the immediate child (p) and applies the styles to them*/
  text-decoration: none; /*Used to remove underlines from links*/
  font-size: 18px;/*Sets the font size*/
  text-align: center;/*Aligns the text to be centered*/
  margin: 6;/*Sets a margin of 6*/
}

.ViewMoreDocumentsContainer{
  float: right; /*Specifies to float the element right of the container */
  margin-right: 20px; /*Sets the right margin to be 20px*/
  margin-bottom: 10px; /*Sets the bottom margin to be 10px*/
  text-align: center;/*Aligns the text to be centered*/
}

.MostRecentDocumentsHeader span{
  background-color: #87CEFA; /*Sets the background colour to be Light Sky Blue*/
  box-shadow: -10px 0px 0 7px #87CEFA, /*Box shadow attaches one or more shadows to the header elements*/
    10px 0px 0 7px #87CEFA,
    0 0 0 7px #87CEFA;
  box-decoration-break: clone; /*Allows for  FireFox to render it properly.*/
  border-radius: 0.5px; /*Sets a border radius of 0.5*/
}

.MostRecentDocumentsHeader > h4{ /*The '>' selects the immediate child (h4) and applies the styles to them*/
  margin-left: 30px; /*Sets the top left to be 30px*/
  font-size: 17px;/*Sets the font size*/
  line-height: 0.8;/*Specifies the height of a line*/
}

/*******Most Recent Documents Formatting End****/

/*******Most Recent References Formatting Start****/
.MostRecentReferencesContainerOne{
  float: left; /*Specifies to float the element left of the container */
  display: inline;  /*Displays the element as an inline element*/
  margin-left: 30px; /*Sets the left margin to be 30px*/
  font-size: 18px;/*Sets the font size*/
}

.MostRecentReferencesContainerTwo{
  float: left; /*Specifies to float the element left of the container */
  margin-left: 150px; /*Sets the left margin to be 150px*/
  font-size: 18px;/*Sets the font size*/
}

.ViewMoreReferencesContainer{
  float: right; /*Specifies to right the element left of the container */
  margin-right: 220px; /*Sets the right margin to be 220px*/
  margin-bottom: 10px; /*Sets the bottom margin to be 10px*/
  text-align: center;/*Aligns the text to be centered*/
}

.MostRecentReferenceHeader span{
  background-color: #87CEFA; /*Sets the background colour to be Light Sky Blue*/
  box-shadow: -10px 0px 0 7px #87CEFA, /*Box shadow attaches one or more shadows to the header elements*/
    10px 0px 0 7px #87CEFA,
    0 0 0 7px #87CEFA;
  box-decoration-break: clone; /*Allows for  FireFox to render it properly.*/
  border-radius: 0.5px; /*Sets a border radius of 0.5*/
}

.MostRecentReferenceHeader > h4{ /*The '>' selects the immediate child (h4) and applies the styles to them*/
  font-size: 17px;/*Sets the font size*/
  margin-left: 30px; /*Sets the left margin to be 30px*/
}
/*******Most Recent References Formatting End****/

/*******Application Spread (Chart) Formatting Start****/
.barGraphContainer{
      width:100%;/*Sets the width of the element to 100*/
  }

  .titleBox{
      float: left; /*Specifies to float the element left of the container */
      width:15%;/*Sets the width of the element to 15*/
      font-weight: bold;/*Sets the weight of the font to bold*/
      font-size: 13px;/*Sets the font size*/
      margin-bottom: 10px; /*Sets the bottom margin to be 10px*/
      margin-left: 28px; /*Sets the left margin to be 28px*/
  }

  .horizontalAxisContainer{
      background-color: #008B8B; /*Sets the background colour to be Dark Cyan*/
      color: white; /*Sets the text on the bars to white*/
      width: 80%;/*Sets the width of the element to 80*/
      float: right; /*Specifies to float the element right of the container */
      margin-bottom: 10px; /*Sets the bottom margin to be 10px*/
      margin-right: 10px; /*Sets the right margin to be 10px*/
  }

  .horizontalAxisValue{
      float:left; /*Specifies to float the element left of the container */
  }

  .width1{
      width: 19.3%/*Sets the width of the element to 19.3*/
  }

  .width2{
      width:0;/*Sets the width of the element to 0*/
    }

  .barContainer {
      background-color: #D3D3D3; /*Sets the background colour to be Light Gray*/
      width: 80%;/*Sets the width of the element to 80*/
      float: right; /*Specifies to float the element right of the container */
  }

  .barTextContainer{
      font-size: 10px;/*Sets the font size*/
      float:left; /*Specifies to float the element left of the container */
      padding: 11px 0px 11px 30px; /*Sets the padding around the whole container*/
  }

  .bar {
      text-align: center;/*Aligns the text to be centered*/
      margin-bottom: 2px; /*Sets the bottom margin to be 2px*/
      padding: 10px 0px 10px 0px; /*Sets the padding around the whole container*/
      color: white; /*Sets the text on the bars to white*/
      background-color: #3CB371; /*Sets the background colour to be Medium Sea Green*/
  }

  .bar1 {width: 25%;} /*Changes the width of the bars*/
  .bar2 {width: 65%;} /*Changes the width of the bars*/
  .bar3 {width: 12%;} /*Changes the width of the bars*/
  .bar4 {width: 15%;} /*Changes the width of the bars*/
  .bar5 {width: 57%;} /*Changes the width of the bars*/

  .ApplicationParticipantsHeader span{
      margin-left: 10px; /*Sets the left margin to be 10px*/
      background-color: #87CEFA;/*Sets the background colour to be Light Sky Blue*/
      box-shadow: -10px 0px 0 7px #87CEFA, /*Box shadow attaches one or more shadows to the header elements*/
        10px 0px 0 7px #87CEFA,/*Box shadow attaches one or more shadows to the header elements*/
        0 0 0 7px #87CEFA;/*Box shadow attaches one or more shadows to the header elements*/
      box-decoration-break: clone; /*Allows for  FireFox to render it properly.*/
      border-radius: 0.5px; /*Sets a border radius of 0.5*/
  }

  .ApplicationParticipantsHeader > h4{ /*The '>' selects the immediate child (h4) and applies the styles to them*/
    font-size: 17px;/*Sets the font size*/
    margin-left: 30px; /*Sets the left margin to be 30px*/
  }
/*******Application Spread (Chart) Formatting End****/

/*******Not Logged In For  2 Weeks Formatting Start****/
table {
  border-collapse: collapse;/*This property collapses the table borders into one single border*/
  width: 100%;/*Sets the width of the element to 100*/
  margin-bottom: 20px; /*Sets the bottom margin to be 20px*/
}

td, th {
  border: 1px solid #dddddd; /*Sets the background colour to be light Gray*/
  text-align: left;/*Aligns the text to be left*/
  padding: 10px; /*Sets the padding to be 10px*/
  text-align: center;/*Aligns the text to be centered*/
}

tr:nth-child(even) {
  background-color: #DCDCDC; /*Sets the background colour to be Gainsboro*/
}

.ViewMoreLoginsContainer{
  height: 100px;/*Sets the height of the element to 100*/
  width: 100px;/*Sets the width of the element to 100*/
  text-align: center;/*Aligns the text to be centered*/
  margin-left: 360px; /*Sets the left margin to be 360px*/
}

.NotLoggedInHeader span{
  background-color: #87CEFA; /*Sets the background colour to be Light Sky Blue*/
  box-shadow: -10px 0px 0 7px #87CEFA, /*Box shadow attaches one or more shadows to the header elements*/
    10px 0px 0 7px #87CEFA,
    0 0 0 7px #87CEFA;
  box-decoration-break: clone; /*Allows for  FireFox to render it properly.*/
  border-radius: 0.5px; /*Sets a border radius of 0.5*/
}

.NotLoggedInHeader > h4{ /*The '>' selects the immediate child (h4) and applies the styles to them*/
  font-size: 17px;/*Sets the font size*/
  margin-left: 30px;/*Sets the left margin to be 30px*/
}
/*******Not Logged In For  2 Weeks Formatting End****/
